<div class="flex justify-center gap-x-72 mt-32">
  <div class="flex flex-col gap-y-4">
    <p class="text-2xl font-bold text-sky-400 italic">Diabetes Logging</p>
    <p class="text-4xl font-semibold">Recent Logins</p>
    <p>Click on your profile or add an account.</p>

    <div class="flex gap-x-4">
      <div
        class="rounded-full w-20 h-20 flex items-center justify-center bg-sky-400 text-lg text-white font-semibold cursor-pointer"
        *ngFor="let user of users"
        (click)="navigateToHome(user)"
      >
        <div class="flex items-center justify-center">
          {{ user.initials }}
        </div>
      </div>

      <div
        class="rounded-full w-20 h-20 flex items-center justify-center bg-base-300 text-lg text-white font-semibold cursor-pointer"
      >
        <div class="flex items-center justify-center">+</div>
      </div>
    </div>
  </div>

  <!--
  <div class="card bg-base-200 w-96">
    <div class="card-body">
      <input placeholder="Username" class="input input-bordered" />
      <input placeholder="Password" class="input input-bordered" />

      <button class="btn btn-info my-2">Log In</button>
      <a class="flex justify-center link">Forgot password?</a>

      <div class="divider"></div>
      <button class="btn btn-success">
        Create new account
      </button>
    </div>
  </div>  
--></div>
